<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493559488652-n5m7i14mfflicgidf2o3mi7gher35ujc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493559488652-n5m7i14mfflicgidf2o3mi7gher35ujc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>493559488652-ipm9s93pgcov7oukr6j24dfvuvknig3m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbwdxS_ridity_UsLvpI7zGQbOMkhJPKk</string>
	<key>GCM_SENDER_ID</key>
	<string>493559488652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.guardian.gce</string>
	<key>PROJECT_ID</key>
	<string>guardian-daily-edition</string>
	<key>STORAGE_BUCKET</key>
	<string>guardian-daily-edition.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493559488652:ios:7c36c9d743989eec</string>
	<key>DATABASE_URL</key>
	<string>https://guardian-daily-edition.firebaseio.com</string>
</dict>
</plist>