<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb528503751025697</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb528503751025697</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>theguardianeditions</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>theguardianeditions</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.774465807556-kgaj5an4pc4fmr3svp5nfpulekc1rl3n</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.774465807556-kgaj5an4pc4fmr3svp5nfpulekc1rl3n</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location-based weather</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location-based weather</string>
	<key>UIAppFonts</key>
	<array>
		<string>GHGuardianHeadline-Black.ttf</string>
		<string>GHGuardianHeadline-BlackItalic.ttf</string>
		<string>GHGuardianHeadline-Bold.ttf</string>
		<string>GHGuardianHeadline-BoldItalic.ttf</string>
		<string>GHGuardianHeadline-Light.ttf</string>
		<string>GHGuardianHeadline-LightItalic.ttf</string>
		<string>GHGuardianHeadline-Medium.ttf</string>
		<string>GHGuardianHeadline-MediumItalic.ttf</string>
		<string>GHGuardianHeadline-Regular.ttf</string>
		<string>GHGuardianHeadline-RegularItalic.ttf</string>
		<string>GHGuardianHeadline-Semibold.ttf</string>
		<string>GHGuardianHeadline-SemiboldItalic.ttf</string>
		<string>GuardianTextEgyptian-Bold.ttf</string>
		<string>GuardianTextEgyptian-BoldItalic.ttf</string>
		<string>GuardianTextEgyptian-Regular.ttf</string>
		<string>GuardianTextEgyptian-RegularItalic.ttf</string>
		<string>GuardianTextSans-Bold.ttf</string>
		<string>GuardianTextSans-BoldItalic.ttf</string>
		<string>GuardianTextSans-Regular.ttf</string>
		<string>GuardianTextSans-RegularIt.ttf</string>
		<string>GTGuardianTitlepiece-Bold.ttf</string>
		<string>SpaceMono-Regular.ttf</string>
		<string>GuardianTextEgyptian-Reg.ttf</string>
		<string>GuardianTextEgyptian-RegularIt.ttf</string>
		<string>GuardianTextEgyptian-RegIt.ttf</string>
		<string>GuardianIcons-Regular.otf</string>
		<string>GuardianWeatherIcons-Regular.ttf</string>
		<string>guardianIcons_1.12.otf</string>
		<string>GTGuardianDaily-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
