name: validate-app

on: push

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '10.15'

            - name: install mallard
              run: make install

            - name: publish release to github
              run: |
                  cd script
                  node make-release.js ${{ github.sha }} ${{ github.ref }} ${{ steps.install_mallard.outputs.BUILD_NUMBER }} ios
              env:
                 REPO_GITHUB_TOKEN: ${{ secrets.REPO_GITHUB_TOKEN }}

            - name: validate Mallard project
              run: make PROJECT=Mallard validate

            - name: test Mallard project
              run: make PROJECT=Mallard test
